<div class="w3-red w3-grayscale">
    <div class="container py-2">
        <h1 class="text-center">Contacto</h1>
        <div class="row">
            <div class="col-md-6">
                <!-- Adress -->
                <address>
                    <div class="d-none d-md-block">
                        <h2>Dirección</h2>
                        <p>Calle Av. Independencia 35-99, San Nicolas Tolentino Otzacatipan, 50200 San Nicolás Tolentino, Méx.</p>
                    </div>
                    <a class="d-block d-sm-none" href="https://maps.app.goo.gl/2cwFGvYBLgu96ENh9">
                        <div class="row bg-light text-dark py-2">
                            <div class="col-sm-4 text-center">
                                <i class="fa-solid fa-diamond-turn-right fa-2x"></i>
                            </div>
                            <div class="col-sm-8 text-center">
                                <span class="fs-3">Indicaciones</span>
                            </div>
                        </div>
                    </a>
                </address>
                <!-- Phone -->
                <div>                    
                    <div class="d-none d-md-block">
                        <h2>Teléfono</h2>
                        <p>722 247 8451</p>
                    </div>
                    <a class="d-block d-sm-none" href="tel:7222478451">
                        <div class="row bg-light text-dark py-2">
                            <div class="col-sm-4 text-center">
                                <i class="fas fa-phone-square fa-2x"></i>
                            </div>
                            <div class="col-sm-8 text-center">
                                <span class="fs-3">Llamar</span>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- Horarios -->
                <div>
                    <h2>Horarios</h2>
                    <table class="table table-stripeds">
                        <thead>
                            <tr>
                                <th scope="col">Día</th>
                                <th scope="col">Horario</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">Lunes</th>
                                <td>Cerrado</td>
                            </tr>
                            <tr>
                                <th scope="row">Martes</th>
                                <td>9h - 18h</td>
                            </tr>
                            <tr>
                                <th scope="row">Miércoles</th>
                                <td>9h - 18h</td>
                            </tr>
                            <tr>
                                <th scope="row">Jueves</th>
                                <td>9h - 18h</td>
                            </tr>
                                                        <tr>
                                <th scope="row">Viérnes</th>
                                <td>9h - 18h</td>
                            </tr>
                                                        <tr>
                                <th scope="row">Sábado</th>
                                <td>9h - 18h</td>
                            </tr>
                                                        <tr>
                                <th scope="row">Domingo</th>
                                <td>Cerrado</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-6">
                <h2>Ubicación</h2>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3764.4064250158417!2d-99.5793105857096!3d19.351546886930464!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d275100ac99801%3A0x650fb852d249eeb1!2sHamburguesas%20%7C%20Carnes%20%7C%20Ensaladas!5e0!3m2!1sen!2smx!4v1595902976350!5m2!1sen!2smx" frameborder="0" height="400px" width="100%"></iframe>
            </div>
        </div>
    </div>
</div>