<header class="bg-header">
    <div class="container">
        <div class="w3-display-container min-vh-100">
            <div class="w3-display-left w3-black w3-opacity">
                <h3 class="fs-1 text-uppercase fw-bold">Restaurante TitBit</h3>
                <h1>Hamburguesas, carnes y ensaladas</h1>
            </div>
            <div class="w3-display-right">
                <a href="#">
                    <img class="w3-white w3-opacity-min w3-round-xlarge" src="/public/logo.png" alt="Logo Titbit" height="240">
                </a>
            </div>
        </div>
    </div>
</header>

<style>
    .bg-header {
        background-image: url('/public/item-3Quesos.jpg');
        background-color: black;
        min-height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .min-vh-100 {
        min-height: 100vh;
    }
</style>