<nav class="navbar navbar-expand-sm fixed-top navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand text-uppercase" href="#">Home</a>

            <ul class="navbar-nav justify-content-between">
                <li class="nav-item">
                    <a class="nav-link" href="#">Promociones</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contacto</a>
                </li>
            </ul>

    </div>
</nav>