<div class="py-2">
    <div class="overflow-hidden py-2 bg-light">

        <!-- COLLECTIONS -->

        {{#if collections }}
            {{#each collections}}
                {{ name }}
            {{/each}}
        {{else }}
            <p>Sin colecctions</p>
        {{/if }}


    </div>            
</div>